ul {
  list-style-type: none;
}

.city-container {
  border-bottom: 3px #ccc solid;
  margin-bottom: 30px;
}

.city-container h3 {
  text-align: center
}

.webcam-image-container {
  max-height: 600px;
  height: auto;
  overflow-x: scroll;
  max-width: 100%;
  margin-bottom: 30px;
}

.webcam-image {
  display: block;
  max-height: 600px;
  /* max-width: 80%; */
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0
}
